<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Adding new blog post </h2>
        <input class="form-control" placeholder="Title" required="" autofocus="" type="text" id ="title">
        <textarea width="214px" height="75px" class="form-control" rows="3" placeholder="Content" type="content" id="content"></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="post">Post</button>
      </form>


</div>
<script src="/javascripts/jquery-1.10.2.js"></script>
      <script src="/javascripts/main.js"></script>
  </body>
</html>